@font-face {
  font-family: "ubuntu-regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #eef5ff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "ubuntu-regular";
}
.main-container {
  display: flex;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 780px;
}
/* PersonalInfo.Jsx */
.personal-info-container {
  display: flex;
  flex-direction: column;
}
.personal-info-form {
  display: flex;
  flex-direction: column;
}
.left-side-image {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 568px;
  width: 274px;
}
.left-side-image-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 40px;
  padding-top: 40px;
}
.left-side-image-step-number {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.selected-page-number {
  border: 1px solid #bee1ff;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #bee1ff;
  color: #000a31;
}
.left-side-image-step-number-container {
  display: flex;
  gap: 10px;
  color: #fefff5;
}
.left-side-image-number-positioner {
  position: relative;
  top: 6px;
  right: -11px;
}
.right-side-container {
  margin-left: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
h1 {
  margin-bottom: 10px;
}
.subtitle {
  margin-bottom: 40px;
}
#name,
#email,
#phone {
  height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.2px solid lightgrey;
  margin-top: 5px;
}
.next-step-button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #164a8b;
  background-color: #164a8b;
  color: white;
}
.personal-info-button-container {
  display: flex;
  justify-content: flex-end;
}

/* SelectPlan.Jsx */

.options-container {
  display: flex;
  gap: 20px;
}

/* AddOns.Jsx */
.individual-add-ons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.checkbox-add-on-type-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SWITCH BELOW
 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Confirmation.Jsx */

.final-right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.confirmation-message {
  width: 422px;
  text-align: center;
}
