@font-face {
  font-family: "ubuntu-regular";
  src: url("../public/assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-medium";
  src: url("../public/assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../public/assets/fonts/Ubuntu-Bold.ttf");
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #eef5ff;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "ubuntu-regular";
  font-size: 16px;
  color: hsl(213, 96%, 18%);
}

/* Global */
.main-container {
  display: flex;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 900px;
}
.go-back {
  color: hsl(231, 11%, 63%);
  font-family: "ubuntu-bold";
}
.go-back:hover {
  color: hsl(213, 96%, 18%);
}
.next-step-button {
  height: 50px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: 'ubuntu-regular';
  font-size: 16px;
}
.next-step-button:hover {
  border: 1px solid #164a8b;
  background-color: #164a8b;
}

/* SideBar.Jsx */
.sidebar-step-info {
  font-family: "ubuntu-medium";
}
.step-number-text {
 font-size: 13px;
 margin-bottom: 2px;
 color: hsl(231, 11%, 63%);
}
/* PersonalInfo.Jsx */
.personal-info-container {
  display: flex;
  flex-direction: column;
}
.personal-info-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.left-side-image {
  background-image: url(../public/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 568px;
  width: 274px;
}
.left-side-image-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 40px;
  padding-top: 40px;
}
.left-side-image-step-number {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.selected-page-number {
  border: 1px solid #bee1ff;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #bee1ff;
  color: #000a31;
}
.left-side-image-step-number-container {
  display: flex;
  gap: 10px;
  color: #fefff5;
}
.left-side-image-number-positioner {
  position: relative;
  top: 6px;
  right: -11px;
}
.right-side-container-page-one {
  margin-left: 95px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
}
.right-side-container {
  margin-left: 95px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 435px;
}
h1 {
  margin-bottom: 10px;
  font-family: ubuntu-bold;
}
.subtitle {
  margin-bottom: 40px;
  color: hsl(231, 11%, 63%);
}
#name,
#email,
#phone {
  height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.2px solid lightgrey;
  margin-top: 5px;
  color: hsl(213, 96%, 18%);
}
.personal-info-button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -120px;
}

/* SelectPlan.Jsx */
.options-container {
  display: flex;
  gap: 20px;
}
.plan-selector {
  height: 140px;
  width: 90px;
  border: 1px solid black;
  border-radius: 10px;
  border-color: hsl(231, 11%, 63%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.plan-selected {
  height: 140px;
  width: 90px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(243, 100%, 62%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.plan-selector:hover {
  border-color: hsl(243, 100%, 62%);
}
.plan-selector:focus {
  border-color: hsl(336, 100%, 62%);
}
.options-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.options-type {
  font-family: "ubuntu-medium";
}
.options-price {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.options-free-months {
  font-size: 12px;
}
.switch-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(231, 100%, 99%);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  gap: 30px;
  font-family: "ubuntu-bold";
  border-radius: 10px;
}
.monthly-yearly-selected {
  color: hsl(213, 96%, 18%);
  font-family: 'ubuntu-medium';
  font-size: 14px;
}
.monthly-yearly-not-selected {
  color: hsl(231, 11%, 63%);
  font-family: 'ubuntu-medium';
  font-size: 14px;
}

/* AddOns.Jsx */
.individual-add-ons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.checkbox-add-on-type-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SWITCH BELOW
 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
  height: 1.5rem;
  width: 40px;
  height: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Confirmation.Jsx */

.final-right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.confirmation-message {
  width: 422px;
  text-align: center;
}
